.header {
  margin-bottom: 26px;
}

.header h1 {
  font-size: var(--fs-2xl);
  font-weight: var(--fw-extrabold);
  color: var(--text-primary);
  margin-bottom: 8px;
  line-height: 1.25;
}

.header p {
  color: var(--text-light);
  line-height: 1.7;
  font-size: var(--fs-sm);
}
